@{
    ViewData["Title"] = "Home Page";
}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="Widthdevice-width">
    <meta name="author" content="Jay Patel">
    <title> Welcome </title>
</head>
<body>
    <header>
        <div class="container">
            <div class="Branding">
                <h1>Welcome<span class="highlight"> To Georgian Furniture </span></h1>
            </div>
        </div>
    </header>
</body>

<section id="newsletter">
    <div class="container">
        <h1>Subscribe to our Newsletter</h1>
        <form>
            <input type="email" placeholder="Enter Email" name="">
            <button type="Submit" class="Button1">Subscribe</button>
        </form>
    </div>
</section>
<section id="Showcase">
    <div class="container">
        <h1>About</h1>
        <p>We Georgian Furniture provide all type of essential help to students who are looking for home decores on SSP("Student Special Price ") Just Give us your Student number and register for our newsletter and You are Good To Go....!!! </p>
    </div>
</section>
